<header class="header-section">
    <div class="container">
        <a class="site-logo" href="{{ path('app_home') }}">
            <img src="{{ asset('img/logo.png') }}" alt="">
        </a>
        <div class="user-panel">
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a> / <a href="{{ path('app_register') }}">Enregistrement</a>
            {% endif %}
        </div>            
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('app_review') }}">Reviews</a></li>
                <li><a href="{{ path('app_news') }}">News</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
