<section class="page-section review-page spad">
    <div class="container">
        <div class="row">
            {% for reviewsItem in reviews %}
                <div class="col-md-6">
                    <div class="review-item">
                        <div class="review-cover set-bg" data-setbg="{{ asset('img/recent-game/' ~ reviewsItem.Imagefile) }}">
                            <div class="score yellow">{{ reviewsItem.Rate }}</div>
                        </div>
                        <div class="review-text">
                            <h4>{{ reviewsItem.Game }}</h4>
                            <p>
                                {{ reviewsItem.Text|length > 100 ? reviewsItem.Text|slice(0, 100) ~ '...' : reviewsItem.Text }}
                                <a class="read-more-link" href="{{ path('app_detailsreviews', {'reviewsItem': reviewsItem.id}) }}">Lire la suite</a>
                                <span class="review-text-full" style="display: none;">{{ reviewsItem.Text }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if reviews|length == 6 %}
            <div class="text-center pt-4">
                <a class="site-btn btn-sm" href="{{ path('app_review', {'page': currentPage + 1}) }}">Load More</a>
            </div>
        {% endif %}
    </div>
</section>