<section class="review-section review-dark spad set-bg" data-setbg="img/review-bg-2.jpg">
    <div class="container">
        <div class="section-title text-white">
            <div class="cata new">Ranked</div>
            <h2>Best Reviews</h2>
        </div>
        <div class="row text-white">
            {% for review in topRatedReviews %}
                <div class="col-lg-3 col-md-6">
                    <div class="review-item">
                        <div class="review-cover set-bg" data-setbg="{{ asset('img/recent-game/' ~ review.Imagefile) }}">
                            <div class="score yellow">{{ review.Rate }}</div>
                        </div>
                        <div class="review-text">
                            <h5>{{ review.Game }}</h5>
                            <p>
                                {{ review.Text|slice(0, 100) }}
                                {% if review.Text|length > 100 %}
                                    <a class="read-more-link" href="{{ path('app_detailsreviews', {'reviewsItem': review.id}) }}">Lire la suite</a>
                                    <span class="review-text-full" style="display: none;">{{ review.Text }}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>