<section class="page-section spad contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="comment-title">Contactez-nous</h4>
                <p>"Nous sommes ravis de vous accueillir ! Si vous avez des questions, des besoins ou simplement envie de discuter, n'hésitez pas à nous contacter. Nous sommes là pour vous aider et sommes impatients de répondre à vos besoins."</p>
                <div class="row">
                    <div class="col-md-9">
                        <ul class="contact-info-list">
                            <li><div class="cf-left">Address</div><div class="cf-right">9 Rue Pétiniaud Beaupeyrat, 87000 Limoges</div></li>
                            <li><div class="cf-left">Phone</div><div class="cf-right">+53 345 7953 32453</div></li>
                            <li><div class="cf-left">E-mail</div><div class="cf-right">yourmail@gmail.com</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="contact-form-warp">
                    <h4 class="comment-title">Laisser un message</h4>
                    {{ form_start(form, { 'attr': {'class': 'comment-form'} }) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.Name, { 'attr': {'placeholder': 'Name'} }) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.Email, { 'attr': {'placeholder': 'Email'} }) }}
                        </div>
                        <div class="col-lg-12">
                            {{ form_row(form.Subject, { 'attr': {'placeholder': 'Subject'} }) }}
                            {{ form_row(form.Message, { 'attr': {'placeholder': 'Message'} }) }}
                            <button class="site-btn btn-sm" type="submit">Envoyer</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>            
        </div>
    </div>
</section>